@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --icon-width: 35px;
  --main-red: #8f1019;
  --dark-mode: #1a1a1a;
}


.user_dropdown {
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo {
  width: 250px;
  height: 70px;
  user-select: none;
}

.logo-light {
  display: inline;
}
.logo-dark {
  display: none;
}

/* Main White Part */
.main_body {
  border-top-left-radius: 55px;
  border-bottom-left-radius: 55px;
  box-shadow: -25px 4px 45.8px rgba(0, 0, 0, 0.24);
  z-index: 0;
  height: 100vh;
  margin-left: 110px;
  transition: margin-left 0.3s ease-out;
  overflow: hidden;
  overflow-y: hidden;
  background-color: #fdfdfd;
}

.cards-container,
.status-container {
  background-color: none;
}

.frame_1 {
  height: auto; /* Full height of the viewport */
  background-color: var(--main-red);
  z-index: 0;
}



.navbar-main {
  margin: 0 40px 0 30px; /* Top: 0, Right: 40px, Bottom: 0, Left: 40px */
  width: calc(100% - 80px);
  margin-left: 30px;
  height: 100px;
  margin-top: 15px;
}

.container-nav {
  height: 80px;
  padding: 0;
  margin-top: 20px;
}

.search-bar {
  width: 400px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #474747;
}

.search-bar:focus {
  border-color: #97befd;
  border-width: 3px;
  box-shadow: 0 0 0px;
}

.btn{
  font-size: 14px;
}

.search-btn {
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  padding: 5px;
  height: 40px;
  width: 40px;
  transition: all 0.2s ease-out;
}

.search-btn:hover {
  background-color: #4285f4;
}
.search-btn:hover .icon-search {
  color: #ffffff;
}

.icon-search {
  margin-bottom: 3px;
  align-items: center;
  justify-content: center;
  color: #1a1a1a;
  height: 20px;
  width: 20px;
  transition: all 0.2s ease-out;
}

.search-form {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #474747;
}

.filter-btn {
  z-index: 1000;
  display: flex;
  justify-content: left;
}

.filter-btn:focus {
  outline: none;
  border: none;
}

.filter-btn:active {
  outline: none;
  border: none;
}

.filter-text {
  font-family: "Poppins", sans-serif;
  color: #1a1a1a;
  font-size: 14px;
  margin-left: 10px;
}

/* Adjust dropdown width and height */
.dropdown-menu {
  background-color: #fafafa;
  width: 200px;
  max-height: 500px; /* Ensure height is unrestricted */
  padding: 15px;
  font-size: 14px;
  border-radius: 17px;
}

.filter-category {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.filter-separator {
  border: none;
  height: 1px;
  background-color: #636262;
  margin: 10px 0;
}

.dropdown-menu li {
  align-items: center;
  margin-bottom: 5px; /* Adds spacing between the list items */
}

.dropdown-menu li:last-child {
  margin-bottom: 0; /* Removes spacing for the last list item */
}

.form-check-input {
  width: 16px;
  height: 16px;
}

.form-check-label {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-left: 8px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.clear-filters-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.clear-filters-btn .icon {
  width: 20px;
  height: 20px;
}

.clear-filters-btn:hover .icon {
  fill: #ff6961; /* Optional: Add hover effect color */
}

.icon-reset {
  fill: #1a1a1a;
  width: 20px;
  height: 20px;
  margin-top: -7px;
}

.request-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px; /* Space between SVG and text */
  width: 55px;
  height: 55px;
  border-radius: 20px;
  background-color: transparent;
  transition: width 0.5s ease, background-color 0.5s ease, padding 0.5s ease; /* Smooth transitions */
  overflow: hidden; /* Hide text when not expanded */
  white-space: nowrap; /* Prevent text wrapping */
  cursor: pointer;
  padding: 0;
  background-color: #C00411; /* Background color */
  border: none;
}

.request-icon {
  width: 80%; /* Makes the SVG responsive */
  height: 80%; /* Adjusts based on container size */
  max-width: 70px;
  max-height: 70px;
  transition: none; /* Remove transition on icon */
}

.request-btn:hover {
  width: 180px; /* Expanded width */
  padding: 0; /* Add padding to fit text */
  background-color: #c00411; /* Red background color */
}

.request-btn span {
  display: none; /* Hide text by default */
  color: white;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

.request-btn:hover span {
  display: inline; /* Show text on hover */
  opacity: 1; /* Ensure opacity is visible */
  transition: opacity 0.5s ease; /* Smooth text appearance */
}

.request-btn:not(:hover) span {
  transition: opacity 0.9s ease-out;
}

.request-btn-svg {
  margin-left: -5px;
  display: block; /* Ensure no inline spacing */
} 

.add-btn-svg {
  margin-left: -5px;
  display: block; /* Ensure no inline spacing */
}

.filter-svg {
  flex-shrink: 0; /* Prevent SVG from resizing */
}

.inventory-container {
  display: flex;
  justify-content: space-between; /* Aligns title and button on opposite sides */
  align-items: center; /* Vertically center the items */
  margin: 0 40px 0 40px; /* Top: 0, Right: 40px, Bottom: 0, Left: 40px */
  width: calc(100% - 80px);
  margin-top: 20px;
  box-sizing: border-box; /* Ensures padding is included in the total width */
}

.inventory-section {
  height: auto;
  margin-bottom: 25px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.inventory-text {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  color: #1a1a1a;
  flex-grow: 1; /* Remove the left margin so the text stays close to the icon */
}

/* Scrollable Section */
.scrollable-section {
  margin: 0 40px 0 40px; /* Top: 0, Right: 40px, Bottom: 0, Left: 40px */
  width: calc(100% - 80px);
  max-height: 70%;
  overflow-y: auto;
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Adjust card width based on available space */
  justify-content: space-between; /* Dynamically adjust spacing between cards */
  gap: 25px; /* Space between rows */
  margin: 0 auto; /* Center container */
  padding: 20px; /* Optional padding around the grid */
}

.card-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.card:hover {
  transform: scale(1.02); /* Slightly increase the size of the card on hover */
}

.card-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.card-menu button {
  background: none;
  visibility: hidden;
  border: none;
  padding: 0;
}

.card-menu svg {
  cursor: pointer;
}

.card:hover .card-menu button {
  visibility: visible;
  transition: all 0.3s ease-in;
}

.card-img-top {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.card:hover .card-img-top {
  transform: scale(1.05);
  transition: all 0.3s ease-out;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin-top: -10px;
  justify-content: flex-start;
  display: flex;
}

/* Styling for the stock numbers */
.available-number {
  background-color: #0d8a20; /* Light background color for contrast */
  padding: 1px 5px; /* Padding around the text */
  border-radius: 10px; /* Rounded corners */
  color: #ffffff; /* Main red color */
  font-size: 12px;
  margin-left: 5px; /* Adjust space between text and number */
}

.available-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  background-color: transparent;
  padding: 10px;
  border-radius: 15px; /* rounded corners */
  z-index: 10; /* ensure it stays above other content */
}

.stock-number {
  background-color: #313231; /* Light background color for contrast */
  padding: 1px 5px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  color: #ffffff; /* Main red color */
  font-size: 12px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Adjust card width based on available space */
  justify-content: space-between; /* Dynamically adjust spacing between cards */
  gap: 20px; /* Space between rows */
  margin: 0 auto; /* Center container */
  padding: 5px; /* Optional padding around the grid */
}

.card-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.card {
  width: 100%; /* Ensure the card takes full width of the grid column */
  height: auto; /* Height is dynamic */
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  border: none;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease-out, transform 0.3s ease-out;
}

.card:hover {
  transform: scale(1.02); /* Slightly increase the size of the card on hover */
}

.card-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.card-menu button {
  background: none;
  visibility: hidden;
  border: none;
  padding: 0;
}

.card-menu svg {
  cursor: pointer;
}

.card:hover .card-menu button {
  visibility: visible;
  transition: all 0.3s ease-in;
}

.card-img-top {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.card:hover .card-img-top {
  transform: scale(1.05);
  transition: all 0.3s ease-out;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #1a1a1a;
  margin-top: -10px;
  justify-content: flex-start;
  display: flex;
}

/* Styling for the stock numbers */
.available-number {
  background-color: #0d8a20; /* Light background color for contrast */
  padding: 1px 5px; /* Padding around the text */
  border-radius: 10px; /* Rounded corners */
  color: #ffffff; /* Main red color */
  font-size: 12px;
  margin-left: 5px; /* Adjust space between text and number */
}

.available-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  background-color: transparent;
  padding: 10px;
  border-radius: 15px; /* rounded corners */
  z-index: 10; /* ensure it stays above other content */
}

.stock-number {
  background-color: #313231d3; /* Light background color for contrast */
  padding: 1px 5px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  color: #ffffff; /* Main red color */
  font-size: 12px;
}

/* Ensure the text and numbers are aligned on the same line */
.card-text {
  display: flex;
  margin-top: 10px;
  justify-content: space-between; /* Pushes the number to the right */
  align-items: center; /* Vertically centers the text and number */
  font-size: 14px;
}


/*  Modal */

.delete-btn {
  margin-bottom: 1%;
  margin-left: 80%;
}
.icon-delete-btn {
  width: 18px;
  height: 18px;
  fill: rgba(0, 0, 0, 0.356);
  transition: fill 0.3s ease; /* Smooth color transition on hover */
}

.delete-btn:focus {
  outline: none;
  border: none;
}

.delete-btn:active {
  outline: none;
  border: none;
}

.icon-delete-btn:hover {
  fill: rgb(158, 11, 11);
}

.modal-backdrop.show {
  z-index: 10;
}

.modal-custom.review-modal{
  max-width: 900px;
}

.table-custom.review th:nth-child(2),
.table-custom.review td:nth-child(2) {
    width: 15%; /* Adjust the width as needed */
    text-align: center;
}

.table-custom.review th:nth-child(3),
.table-custom.review td:nth-child(3) {
    width: 10%; /* Adjust the width as needed */
    text-align: center;
}

.table-custom.review .icon-delete-btn {
    width: 16px;
    height: 16px;
}

.table-wrapper {
  border-radius: 20px;
}

.table-custom.review .delete-btn {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 0;
}

.table-container {
  background-color: #f7f7f7; 
  padding: 20px; 
  border-radius: 12px; 
  max-width: 100%; 
  overflow-x: auto; 
  margin-bottom: 20px;
}

.table-wrapper {
  max-height: 300px; 
  overflow-y: auto; /* Enable vertical scrolling */
  display: block; /* Ensures that the table wrapper is scrollable */
}

.table-custom.review {
  width: 100%;
  border-collapse: collapse;
  color: #fff; /* Table text color */
  table-layout: fixed; /* Ensure the table takes up the full width */
}

.table-custom.review th,
.table-custom.review td {
  padding: 12px 16px; /* Table cell padding */
  text-align: left; 
  border-bottom: 1px solid #b8b8b869; /* Row separation */
}

.table-custom.review thead {
  background-color: #ececec ; /* Solid background color for header */
  font-weight: bold;
  border: none;
  border-radius: 10px;
  position: sticky; /* Fix header at top */
  top: 0; /* Stick to top of table body when scrolling */
  z-index: 1; /* Ensure header stays above the table content */

}

h2#reviewItemsModalLabel {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #1a1a1a;
}

.table-custom.review tbody tr {
  transition: all 0.3s ease; /* Smooth row hover effect */
}

.table-custom.review tbody tr:hover {
  background-color: #ffffff; /* Row hover effect */
}

.table-custom.review .delete-btn:hover {
  color: #e74c3c; /* Highlight delete button on hover */
}





.modal-custom {
  max-width: 600px; /* Optional: Wider modal, adjust if needed */
  font-family: "Poppins", sans-serif;
}

.table {
  margin-bottom: 20px;
  text-align: left; /* Centers all table content by default */
}
.table td {
  padding: 15px;
  font-size: 14px;
  vertical-align: middle; /* Vertically centers content inside table cells */
}

.qt_col {

    display: flex;
    align-items: center;
    justify-content: center; 
}


.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center; /* Centers only the quantity input and buttons */
}

.quantity-control input {
  width: 80px; /* Increased width to accommodate larger numbers */
  padding: 5px; /* Adds padding inside the input for better spacing */
  text-align: center; /* Ensures the text inside the input is centered */
  font-size: 14px; /* Increases font size for better readability */
}

.quantity-control button {
  width: 30px;
  height: 30px;
}

.modal-body {
  padding: 0;
  background-color: transparent;
}

.table-custom {
  background: none !important; /* Removes any background color */
}

.table-custom th,
.table-custom td {
  background: none !important; /* Removes background for table headers and cells */
}

.btn-suc-custom{
  background-color: #149708;
  color: #f7f7f7;
}

.btn{
  margin-top: 10px;
}

.btn-suc-custom:hover{
  background-color: #127a09;  
  color: #f7f7f7;
}


h2#addToListModalLabel {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #1a1a1a;
}

.modal-header,
.modal-footer {
  border: none;
  padding: 0 0 20px 0; /* Removes the border */
}

.modal-footer{
  padding-top: 0;
  padding-bottom: 0;
}

.modal-content {
  padding: 35px 50px 35px 50px; /* Top, Right, Bottom, Left */
  border-radius: 20px; /* Adjust the value for more or less rounded corners */
  position: relative;
  z-index: 1050;
}

.form-label {
  font-family: "Poppins", sans-serif;
}

.input-custom {
  margin-right: 30px; /* Optional: Space between the inputs */
}

.input-custom-1 {
  margin-right: 30px; /* Optional: Space between the inputs */
}

.input-id {
  width: 80px; /* Full width of the modal */
}

.input-item-name {
  width: 370px; /* Adjusted width */
}

.input-date {
  width: 150px; /* Adjusted width for date fields */
}

.input-quantity {
  width: 80px; /* Adjusted width for quantity fields */
}

.input-property {
  width: 180px; /* Adjusted width for quantity fields */
}

.input-description {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  resize: none; /* Prevent resizing by the user */
  width: 480px;
  box-sizing: border-box; /* Ensure padding doesn't overflow the container */
  padding: 10px;
  padding-bottom: 25px; /* Add space for the character counter */
  position: relative;
}

.textarea-wrapper {
  position: relative;
  width: 100%;
}

.char-counter {
  position: absolute;
  bottom: 25px;
  right: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #6c757d; /* Subtle text color */
}

/* Wrapper around the select and the dropdown icon */
.dropdown-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
}

/* Style for the select box */
.input-property.dropdown-toggle {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  appearance: none; /* Remove browser's default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 6.5px;
  padding-right: 10px; /* Space for the dropdown icon */
  width: 190px;
  box-sizing: border-box;
  cursor: pointer;
}

/* Dropdown icon styling */
.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 80px; /* Adjust spacing from the right */
  transform: translateY(-50%);
  pointer-events: none; /* Ensure clicks go to the select box */
  font-size: 20px;
  color: #292b2c; /* Subtle gray color for the arrow */
}

.input-group {
  display: flex;
  width: 100%;
}

.form-row {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: space-between; /* Space between inputs */
  align-items: center;
  margin-bottom: 10px; /* Space between rows */
}

/* Image Preview */
/* Container for the image preview */
.image-preview-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
  height: 250px;
}

/* Style for the image preview */
.image-preview {
  position: absolute;
  right: 65%;
  top: 30%;
  transform: translate(50%, -50%);
  width: 270px;
  height: 270px;
  background-color: #f0f0f0; /* Light background if no image */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.image-preview:hover {
  background-color: #47474771;
}

/* Image preview styles */
.preview-img {
  max-width: 100%;
  max-height: 100%;
}
/* SVG Icon */
.svg-icon {
  position: absolute;
  top: 45%; /* Center the icon vertically */
  left: 50%; /* Center the icon horizontally */
  transform: translate(
    -50%,
    -100%
  ); /* Move it slightly above its default position */
  width: 40px;
  height: 40px;
  color: #000;
  z-index: 1;
  transition: opacity 0.3s ease; /* Fade in and out effect */
  opacity: 0; /* Hidden by default */
}

/* Style for the button (hidden by default) */
.btn-upload {
  position: absolute;
  bottom: 40%; /* Center the button vertically */
  left: 50%; /* Center the button horizontally */
  transform: translate(-50%, 50%);
  padding: 9px 9px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none; /* Button is hidden by default */
  transition: opacity 0.3s ease; /* Fade in and out effect */
  font-family: "Poppins", sans-serif;
  font-size: 11.5px;
  width: 150px;
}

/* Hover effect: Show both SVG icon and button */
.image-preview:hover .svg-icon,
.image-preview:hover .btn-upload {
  opacity: 1; /* Make both fully visible on hover */
  display: block; /* Show both elements */
}

/* File input styles - hidden by default */
.file-input {
  display: none;
}

.btn .btn-secondary{
  padding: 0.375rem 0.75rem;
  margin: 0;
}

.btn-cancel {
  font-family: "Poppins", sans-serif;
  padding: 0.375rem 0.75rem;
  background-color: #6c757d; 
  color: white; 
  border: none; 
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px; 
  transition: background-color 0.3s ease;
}

.btn-cancel:hover {
  color: white; 
  background-color: #4f555b; 
}

/* Style for the Save Changes button */
.btn-save-changes {
  font-family: "Poppins", sans-serif;
  padding: 0.375rem 0.75rem;
  background-color: #149708; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn-save-changes:hover {
  color: white; /* Set the text color to white */
  background-color: rgb(5, 108, 22); /* Darker red on hover */
}

.form-select{
  background-color: transparent !important;
}


#purposeCounter {
  font-size: 0.875rem; /* Smaller text */
  text-align: right;   /* Align to the right */
  color: #f8fcff;      /* Muted color */
}


.step-2 {
  font-size: 14px;
}

.form-control{
  font-size: 14px;
}

input{
  font-size: 14px;
}

.dropdown-menu #courseOptions {
  font-size: 14px;
}

/* Make the dropdown menu scrollable */
#courseOptions {
  max-height: 200px; /* Limit the dropdown height */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Optional: Smooth scrolling experience */
#courseOptions::-webkit-scrollbar {
  width: 8px;
}

#currentDate{
  color: #82868a;
}

#courseOptions::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 4px;
}

#courseOptions::-webkit-scrollbar-thumb:hover {
  background: #888888;
}



/* Status Section Responsiveness */
@media (max-height: 500px) {
  .status-container {
    display: none;
  }
}

/* Responsive adjustments */

@media (prefers-color-scheme: dark) {
  .main_body {
    background-color: #202633;
  }

  .sidebar_custom,
  .frame_1 {
    background-color: #1e1e1e;
  }

  .logo-light {
    display: none;
  }
  .logo-dark {
    display: block;
  }

  .sidebar .nav-link.active .icon {
    color: #202633;
  }

  .search-bar {
    color: #f6f6f6;
    background-color: #202633;
  }

  .table-custom {
    background: none !important; /* Removes any background */
    color: #f7f7f7 !important; /* Makes the text white */
  }

  .table-custom tbody tr,
  .table-custom thead th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.322); /* Lower-contrast row lines */
  }
  


  .table-custom th,
  .table-custom td {
    color: #dfdfdf !important; /* Ensures headers and cells have white text */
  }

  .search-bar:focus {
    border-color: var(--main-red);
    border-width: 2px;
    box-shadow: 0 0 0px;
    color: #f6f6f6;
    background-color: #202633;
  }
  .search-btn {
    background-color: #354563;
  }

  .request-status {
    background-color: #0d0f133b;
  }

  .return-status {
    background-color: #0d0f133b;
  }

  .search-btn:hover {
    background-color: #4285f4;
  }
  .search-btn:hover .icon-search {
    color: #2e1313;
  }

  .icon-search {
    color: #f6f6f6;
  }

  .search-form {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #474747;
  }

  .scrollable-section {
    background-color: #0d0f133b;
  }

  .card {
    background-color: #2d323d;
    color: #f6f6f6;
  }

  .card-title {
    color: #f6f6f6;
  }

  .available-text {
    background-color: #1e232f;
  }

  .inventory-section .inventory-text {
    color: #f6f6f6;
  }

  .inventory-section {
    color: #f6f6f6;
  }

  .filter-btn {
    color: #f6f6f6;
  }

  .filter-text {
    color: #f6f6f6;
  }

  .search-bar::placeholder {
    color: #8d8d8d; /* Change this to your desired color */
  }

  .dropdown-menu {
    background-color: #2b313d;
  }

  .dropdown-item {
    color: #ffffff;
  }

  .card-menu button {
    color: #f6f6f6;
  }

  .modal-content {
    background-color: #232935;
    color: #f6f6f6;
  }

  .icon-delete-btn {
    fill: #f6f6f6af;
  }

  .form-control {
    background-color: #2b313d00;
    border-color: #cccccc6e;
    color: #f6f6f6;
  }

  .form-control:active {
    background-color: #2b313d;
    color: #f6f6f6;
  }

  .form-control::placeholder {
    color: #f6f6f686; /* Change this to your desired color */
  }

  .form-control:disabled {
    background-color: #2b313db4;
    color: #f6f6f686;
  }

  .form-control:focus {
    background-color: #2b313db4;
    color: #f6f6f6;
    border-color: #ccccccc2;
    box-shadow: 0 0 0px;
  }

  .dropdown-menu:active {
    background-color: #2b313d;
  }

  .dropdown-icon {
    color: #f6f6f6;
  }

  .image-preview {
    background-color: #2b313dab;
    border-color: #cccccc6e;
  }

  .icon-reset{
    fill: #f6f6f6;
  }

  .filter-header {
    color: #f6f6f6;
  }
  .filter-category {
    color: #f6f6f6;
  }

  h2#addToListModalLabel {
    color: #f6f6f6;
  }

  h2#reviewItemsModalLabel {
    color: #f6f6f6;
  }

  .table-custom.review thead{
    background-color: #1b1f28 ;
  }
  .table-custom.review tbody tr:hover {
    background-color: #303741; /* Row hover effect */
    
  }

  .table-container {
    background-color: rgba(0, 0, 0, 0.16); 
  }

  .stock-number{
    background-color: #191c2993;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.dropdown-menu #courseOptions .dropdown-item:hover {
  background-color: #a5a5a5;
}


}
