@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --icon-width: 35px;
  --main-red: #8f1019;
  --dark-mode: #1a1a1a;
}

hr {
  color: #fdfdfd;
  transition: all 0.3s ease-out;
}

.sidebar:hover hr {
  width: 220%;
}

.user_dropdown {
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo {
  width: 250px;
  height: 70px;
  user-select: none;
}

.logo-light {
  display: inline;
}
.logo-dark {
  display: none;
}

/* Main White Part */
.main_body {
  border-top-left-radius: 55px;
  border-bottom-left-radius: 55px;
  box-shadow: -25px 4px 45.8px rgba(0, 0, 0, 0.24);
  z-index: 0;
  height: 100vh;
  margin-left: 110px;
  transition: margin-left 0.3s ease-out;
  overflow: hidden;
  background-color: #fdfdfd;
}

.cards-container,
.status-container {
  background-color: none;
}

.frame_1 {
  height: auto; /* Full height of the viewport */
  background-color: var(--main-red);
  z-index: 0;
}

/* Sidebar */
.avatar {
  width: var(--icon-width);
  height: var(--icon-width);
}

.icon-container {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
}

.icon {
  width: var(--icon-width);
  height: var(--icon-width);
  color: rgb(255, 255, 255);
}

.nav-pills {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon_name {
  margin-left: 165px;
  transition: opacity 0.3s ease-out;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  visibility: hidden;
  position: absolute;
}

.sidebar_custom.expanded .icon_name {
  opacity: 1;
}

.sidebar_custom .icon_name {
  opacity: 0;
}

.nav-item {
  margin-bottom: 25px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:hover .icon {
  transform: scale(1.15);
  transition: all 0.3s ease-in;
}

.sidebar .nav-link.active {
  background-color: #ffffff;
}

.sidebar .nav-link.active .icon {
  color: var(--main-red);
}

.sidebar_custom {
  z-index: 0;
  background-color: var(--main-red);
  transition: width 0.3s ease-out;
}

.nav-item .btn {
  border: none;
}

.sidebar_custom.expanded {
  width: 210px; /* Expanded width */
}

/* Adjust the main body margin on sidebar expanded */
.sidebar_custom.expanded + .main_body {
  margin-left: 210px;
}

/* Nav Bar */

.user_profile .icon_name {
  font-size: 12px;
  width: fit-content;
  white-space: nowrap;
}

.user_profile .identifier {
  margin-top: 18px;
  margin-left: 141px;
  justify-content: start;
  font-weight: 400;
  font-size: 10px;
  font-style: italic;
  color: rgb(238, 238, 238);
}

.options .icon_name {
  margin-top: 9px;
}

.navbar-main {
  width: 75%;
  margin-left: 30px;
  height: 100px;
  margin-top: 15px;
}



.container-nav {
  height: 80px;
  padding: 0;
  margin-top: 20px;
}

.search-bar {
  width: 400px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #474747;
}

.search-bar:focus {
  border-color: #97befd;
  border-width: 3px;
  box-shadow: 0 0 0px;
}

.search-btn {
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  padding: 5px;
  height: 40px;
  width: 40px;
  transition: all 0.2s ease-out;
}

.search-btn:hover {
  background-color: #4285f4;
}
.search-btn:hover .icon-search {
  color: #ffffff;
}

.icon-search {
  margin-bottom: 3px;
  align-items: center;
  justify-content: center;
  color: #1a1a1a;
  height: 20px;
  width: 20px;
  transition: all 0.2s ease-out;
}

.search-form {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #474747;
}

.filter-btn {
  z-index: 1000;
  display: flex;
  justify-content: left;
}

.add-btn {
  position: absolute;
  bottom: 5%;
  right: 18%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; /* Space between SVG and text */
  width: 55px;
  height: 55px;
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth transition */
  overflow: hidden; /* Hide text when not expanded */
  white-space: nowrap; /* Prevent text wrapping */
  cursor: pointer;
  padding: 0; /* Remove button padding */
}

.add-btn:hover {
  width: 150px; /* Expanded width */
  padding: 0 10px; /* Add padding to fit text */
  background-color: #C00411; /* Red background color */
}

.add-btn span {
  display: none; /* Hide text by default */
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.add-btn:hover span {
  display: inline; /* Show text on hover */
}

.add-btn svg {
  margin: 0; /* Remove extra margin */
  padding: 0; /* Remove padding */
  display: block; /* Ensure no inline spacing */}

.filter-svg {
  flex-shrink: 0; /* Prevent SVG from resizing */
}

.inventory-container {
  display: flex;
  justify-content: space-between; /* Aligns title and button on opposite sides */
  align-items: center; /* Vertically center the items */
  width: 75%;
  margin-left: 40px;
  margin-top: 20px;

  box-sizing: border-box; /* Ensures padding is included in the total width */
}

.inventory-section {
  height: auto;
  margin-bottom: 25px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.inventory-text {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  color: #1a1a1a;
  flex-grow: 1; /* Remove the left margin so the text stays close to the icon */
}

/* Scrollable Section */
.scrollable-section {
  margin: 0px 40px 0px 40px; 
  width: 75%;
  max-height: 70%;
  overflow-y: auto;
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 20px;

}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust card width based on available space */
  justify-content: space-between; /* Dynamically adjust spacing between cards */
  gap: 25px; /* Space between rows */
  margin: 0 auto; /* Center container */
  padding: 20px; /* Optional padding around the grid */
}

.card-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.card {
  width: 100%; /* Ensure the card takes full width of the grid column */
  height: auto; /* Height is dynamic */
  background-color: #fafafa;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  border: none;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease-out, transform 0.3s ease-out;
}

.card:hover {
  transform: scale(1.02); /* Slightly increase the size of the card on hover */
}

.card-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.card-menu button {
  background: none;
  visibility: hidden;
  border: none;
  padding: 0;
}

.card-menu svg {
  cursor: pointer;
}

.card:hover .card-menu button {
  visibility: visible;
  transition: all 0.3s ease-in;
}

.card-img-top {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.card:hover .card-img-top {
  transform: scale(1.05);
  transition: all 0.3s ease-out;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin-top: -10px;
  justify-content: flex-start;
  display: flex;
}

/* Styling for the stock numbers */
.available-number {
  background-color: #0d8a20; /* Light background color for contrast */
  padding: 1px 5px; /* Padding around the text */
  border-radius: 10px; /* Rounded corners */
  color: #ffffff; /* Main red color */
  font-size: 12px;
  margin-left: 5px; /* Adjust space between text and number */

}

.available-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  background-color: transparent;
  padding: 10px;
  border-radius: 15px; /* rounded corners */
  z-index: 10; /* ensure it stays above other content */
}

.stock-number {
  background-color: #313231; /* Light background color for contrast */
  padding: 1px 5px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  color: #ffffff; /* Main red color */
  font-size: 12px;
}

/* Ensure the text and numbers are aligned on the same line */
.card-text {
  display: flex;
  margin-top: 10px;
  justify-content: space-between; /* Pushes the number to the right */
  align-items: center; /* Vertically centers the text and number */
  font-size: 14px;
  
}

/* ADD-EDIT Modal */
/* Remove border from modal header and footer */
.modal-header,
.modal-footer {
  border: none; /* Removes the border */
}

.modal-backdrop.show {
  z-index: 10;
}

.modal-custom {
  max-width: 950px; /* Set custom width */
  height: 500px;
}

.modal-content {
  padding: 35px 50px 35px 50px; /* Top, Right, Bottom, Left */
  border-radius: 20px; /* Adjust the value for more or less rounded corners */
  position: relative;
  z-index: 1050;
}

.form-label {
  font-family: "Poppins", sans-serif;
}

.input-custom {
  margin-right: 30px; /* Optional: Space between the inputs */
}

.input-custom-1 {
  margin-right: 30px; /* Optional: Space between the inputs */
}

.input-id {
  width: 80px; /* Full width of the modal */
}

.input-item-name {
  width: 370px; /* Adjusted width */
}

.input-date {
  width: 150px; /* Adjusted width for date fields */
}

.input-quantity {
  width: 80px; /* Adjusted width for quantity fields */
}

.input-property {
  width: 180px; /* Adjusted width for quantity fields */
}

.input-description {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  resize: none; /* Prevent resizing by the user */
  width: 480px;
  box-sizing: border-box; /* Ensure padding doesn't overflow the container */
  padding: 10px;
  padding-bottom: 25px; /* Add space for the character counter */
  position: relative;
}

.textarea-wrapper {
  position: relative;
  width: 100%;
}

.char-counter {
  position: absolute;
  bottom: 5px;
  right: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #6c757d; /* Subtle text color */
}

/* Wrapper around the select and the dropdown icon */
.dropdown-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
}

/* Style for the select box */
.input-property.dropdown-toggle {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  appearance: none; /* Remove browser's default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  padding-right:10px; /* Space for the dropdown icon */
  width: 190px;
  box-sizing: border-box;
  cursor: pointer; /* Indicate it's clickable */
}

/* Dropdown icon styling */
.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 80px; /* Adjust spacing from the right */
  transform: translateY(-50%);
  pointer-events: none; /* Ensure clicks go to the select box */
  font-size: 20px;
  color: #292b2c; /* Subtle gray color for the arrow */
}

.input-group {
  display: flex;
  width: 100%;
}

.form-row {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: space-between; /* Space between inputs */
  align-items: center;
  margin-bottom: 10px; /* Space between rows */
}

/* Image Preview */
/* Container for the image preview */
.image-preview-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
  height: 250px;
}

/* Style for the image preview */
.image-preview {
  position: absolute;
  right: 65%;
  top: 30%;
  transform: translate(50%, -50%);
  width: 270px;
  height: 270px;
  background-color: #f0f0f0; /* Light background if no image */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.image-preview:hover {
  background-color: #47474771;
}

/* Image preview styles */
.preview-img {
  max-width: 100%;
  max-height: 100%;
}
/* SVG Icon */
.svg-icon {
  position: absolute;
  top: 45%; /* Center the icon vertically */
  left: 50%; /* Center the icon horizontally */
  transform: translate(
    -50%,
    -100%
  ); /* Move it slightly above its default position */
  width: 40px;
  height: 40px;
  color: #000;
  z-index: 1;
  transition: opacity 0.3s ease; /* Fade in and out effect */
  opacity: 0; /* Hidden by default */
}

/* Style for the button (hidden by default) */
.btn-upload {
  position: absolute;
  bottom: 40%; /* Center the button vertically */
  left: 50%; /* Center the button horizontally */
  transform: translate(-50%, 50%);
  padding: 9px 9px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none; /* Button is hidden by default */
  transition: opacity 0.3s ease; /* Fade in and out effect */
  font-family: "Poppins", sans-serif;
  font-size: 11.5px;
  width: 150px;
}

/* Hover effect: Show both SVG icon and button */
.image-preview:hover .svg-icon,
.image-preview:hover .btn-upload {
  opacity: 1; /* Make both fully visible on hover */
  display: block; /* Show both elements */
}

/* File input styles - hidden by default */
.file-input {
  display: none;
}

.btn-cancel {
  font-family: "Poppins", sans-serif;
  padding: 0.375rem 0.75rem;
  background-color: #6c757d ; /* Set the background color to red */
  color: white; /* Set the text color to white */
  border: none; /* Remove border */
  border-radius: 8px; /* Optional: Rounded corners */
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem; /* Optional: Font size */
  transition: background-color 0.3s ease; /* Optional: Smooth hover transition */
}

.btn-cancel:hover {
  color: white; /* Set the text color to white */
  background-color: #4f555b ; /* Darker red on hover */
}

/* Style for the Save Changes button */
.btn-save-changes {
  font-family: "Poppins", sans-serif;
  padding: 0.375rem 0.75rem;
  background-color: #149708; /* Set the background color to red */
  color: white; /* Set the text color to white */
  border: none; /* Remove border */
  border-radius: 8px; /* Optional: Rounded corners */
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem; /* Optional: Font size */
  transition: background-color 0.3s ease; /* Optional: Smooth hover transition */
}

.btn-save-changes:hover {
  color: white; /* Set the text color to white */
  background-color: rgb(5, 108, 22); /* Darker red on hover */
}

/* Status Container Right */

/* Section styling */

.status-section {
  position: absolute;
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Center content horizontally */
  background-color: none; /* Light background for contrast */
  width: 20%;
  top: 60px;
  right: 0;
  margin-right: 10px;
}

.status-container {
  display: flex;
  flex-direction: column; /* Stack rectangles vertically */
  gap: 30px; /* Add space between the rectangles */
  align-items: center; /* Center rectangles horizontally */
  width: 100%; /* Make container take full width of section */
  height: 800px; /* Set height of the container */
  margin-left: 5px;
}

.rectangle {
  border-radius: 20px;
  display: flex;
  justify-content: flex-start; /* Keeps items aligned to the left */
  position: relative;
  flex-direction: column; /* Arrange elements vertically */
  width: 90%; /* Adjust width relative to container width */
  padding: 30px; /* Padding in vw for better scaling */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.request-status {
  background-color: #4285f4;
  height: 700px; /* Adjust height for the first rectangle */
  color: white; /* White text for contrast */
}

.quick-access-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: -38px;
  margin-left:85%; /* Adjust margin to keep the circle relative to the text */
}

.request {
  background-color: #f0ad4e; /* Orange */
}

.separator-line {
  width: 95%; /* Adjust the width as desired */
  height: 1px; /* Thickness of the line */
  background-color: #dddddd86; /* Color of the separator line */
  margin: 20px 1px 20px 1px; /* Center the line horizontally and add vertical spacing */
}

.student-container {
  display: flex;
  align-items: center; /* Align items (image and text) vertically */
  gap: 5px; /* Space between the picture and the text */
}

.vertical-layout {
  display: flex;
  flex-direction: column; /* Ensure vertical arrangement */
  margin-left: 10px;
}

.student_pic {
  margin-left: 20px;
  margin-top: -10px;
  width: 45px;
  height: 45px;
  background: url("user.png") no-repeat center center; /* Centers the image */
  background-size: cover; /* Ensures the image covers the container, scaling properly */
  border-radius: 50%; /* Makes the container a perfect circle */
  overflow: hidden; /* Ensures no parts of the image overflow out of the circle */
}

.student-name {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fdfdfd; /* Customize color as desired */
  margin-left: 10px;
  margin-top: 10px;
}

.request-date {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: italic;
  color: #fdfdfdc2; /* Customize color as desired */
  margin-left: 10px;
  margin-top: -15px;
}

.return {
  background-color: #d9534f; /* Red */
}

.return-status {
  background-color: #fbbc05;
  height: 500px; /* Adjust height for the second rectangle */
  color: white; /* Black text for contrast */
}

.two-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  align-items: center; /* Center vertically in each row */
  
}

.return-date {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: italic;
  color: #fdfdfdc2; /* Customize color as desired */
  margin-top: 10px;
  margin-left: 25px;
  
}

.see-more-container {
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

.see-more-link {
  color: rgba(240, 248, 255, 0.432); /* Your custom color */
  text-decoration: none; /* Optional: removes underline */
  font-family: 'Poppins', sans-serif; /* Optional: apply your font */
  font-size: 14px; /* Adjust size as needed */
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .card-grid {
    width: calc(50% - 20px); /* 2 cards per row on medium screens */
  }
}

@media (max-width: 576px) {
  .card-grid {
    width: calc(100% - 20px); /* Full width card on small screens */
  }
}

@media (prefers-color-scheme: dark) {
  .main_body {
    background-color: #202633;
  }

  .sidebar_custom,
  .frame_1 {
    background-color: #1e1e1e;
  }

  .logo-light {
    display: none;
  }
  .logo-dark {
    display: block;
  }

  .sidebar .nav-link.active .icon {
    color: #202633;
  }

  .search-bar {
    color: #f6f6f6;
    background-color: #202633;
  }

  .search-bar:focus {
    border-color: var(--main-red);
    border-width: 2px;
    box-shadow: 0 0 0px;
    color: #f6f6f6;
    background-color: #202633;
  }
  .search-btn {
    background-color: #354563;
  }

  .request-status {
    background-color: #0d0f133b;
  }

  .return-status {
    background-color: #0d0f133b;
  }

  .search-btn:hover {
    background-color: #4285f4;
  }
  .search-btn:hover .icon-search {
    color: #2e1313;
  }

  .icon-search {
    color: #f6f6f6;
  }

  .search-form {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #474747;
  }

  .scrollable-section {
    background-color: #0d0f133b;
  }

  .card {
    background-color: #2d323d;
    color: #f6f6f6;
  }

  .card-title {
    color: #f6f6f6;
  }

  .available-text {
    background-color: #1e232f;
  }

  .inventory-section .inventory-text {
    color: #f6f6f6;
  }

  .inventory-section {
    color: #f6f6f6;
  }

  .filter-btn {
    color: #f6f6f6;
  }

  .filter-text {
    font-family: "Poppins", sans-serif;
    color: #f6f6f6;
    margin-left: 10px;
    font-size: 15px;
  }

  /* Adjust dropdown width and height */
  .dropdown-menu {
    width: 250px; /* Set desired width */
    max-height: 250px; /* Set maximum height */
    overflow-y: auto; /* Enable scrolling if content exceeds height */
    padding: 25px; /* Optional: Adjust padding */
  }

  .dropdown-menu li {
    align-items: center;
    margin-bottom: 5px; /* Adds spacing between the list items */
  }
  
  .dropdown-menu li:last-child {
    margin-bottom: 0; /* Removes spacing for the last list item */
  }
  
  .form-check {
    padding: 2px 20px; /* Adds vertical padding to each filter item */
  }

  .form-check-label {
    margin-left: 5px; /* Adjust spacing between checkbox and text */
  }
  
  
  .search-bar::placeholder {
    color: #8d8d8d; /* Change this to your desired color */
  }

  .dropdown-menu {
    background-color: #2b313d;
  }

  .dropdown-item {
    color: #ffffff;
  }

  .card-menu button {
    color: #f6f6f6;
  }
}
