body {
    color: #454545;
}

.land-page-student {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.land-page-student-header {
    color: aqua;
}

.land-page-student-sub-header {
    font-style: italic;
}

.land-page-student-signIn-container {
    width: 360px;
    height: 624px;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.signIn-container-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.signIn-container-content .signIn-header-container {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.signIn-container-content .selector-container {
    display: flex;
    justify-content: center;
    width: 80%;
}
.signIn-container-content .selector-container a{
    text-decoration: none;
    color: #454545;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.signIn-signUp-container{
    width: 90%;
}

.signIn-signUp-container .email-container{
    margin-bottom: 15px;
        
}

.signIn-signUp-container .email-container .ue-mail {
    margin-bottom: 5px;
}

.signIn-signUp-container label .ue-mail .password{
    text-align: left;
    font-size: 12px;
}


.email-textbox {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signIn-button {
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 14px;
    font-size: 18px;
    background-color: #C00411;
    /* color: #fff; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.google-button {
    color: #454545;
    display: block;
    width: 100%;
    padding: 14px;
    font-size: 18px;
    background-color: #FBBC05;
    /* color: #fff; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}
